@import "variables";
@import "mixins";
// *****************
// * Header Styles *
// *****************
.header{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    margin-left: 12px;
    margin-right: 12px;

    @include breakpoint('s') {
        flex-direction: row;
        margin-top: 39px;
        margin-left: 32px;
        margin-right: 32px;
    }
    @include breakpoint('m'){
        margin-left: 42px;
        margin-right: 42px;
    }
    @include breakpoint('l'){
        margin-top: 109px;
    }

    .heading{
        font-family: $font-title;
        font-weight: $semibold;
        font-size: $heading-font;
        letter-spacing: -0.045em;
        margin: 0;
        padding: 0;
        top: 0;
    }
    
    .header-info{
        @include breakpoint('s'){
            padding-left: 115px;
        }
        @include breakpoint('m'){
            padding-left: 215px;
        }

        &__subheading{
            font-size: $subheading-font;
            font-weight: $semibold;
            text-transform: uppercase;
            padding-top: 24px;
            @include breakpoint('s'){
                padding-top: 0px;
            }
        }
        &__content{
            font-weight: $regular;
            font-size: $normal-mobile-font;
            max-width: 330px;

            @include breakpoint('s') {
                font-size: $normal-font;
                max-width: 439px;
            }
        }
    }
}